body {
  font-family: system-ui, sans-serif;
  line-height: 1.4;
  background-color: #f2f2f2;
  background-image: linear-gradient(to right, #a8c0ff, #3f2b96);
  background-size: cover;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .app {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .app {
    padding: 10px;
  }

  .trip-card {
    padding: 10px;
    box-sizing: border-box;
  }
  
  .trip-info h3 {
    font-size: 1rem;
    margin: 0;
    line-height: 1.5;
    word-break: break-word;
  }
  
  .trip-info p {
    font-size: 0.8rem;
  }

  .trip-info p {
    font-size: 0.8rem;
  }

  .select-trip {
    font-size: 0.8rem;
    padding: 5px;
  }

  #location{
    font-size: 0.8rem;
  }

  .trip-status, .trip-card {
    flex-direction: column;
  }

  .trip-info, .status-text, .running-total {
    font-size: 0.9rem;
  }

  .submit-button {
    font-size: 0.8rem;
    padding: 5px;
    margin: 5px 0;
  }

  .trip-status h2 {
    font-size: 1.2rem;
  }

  .location-text {
    font-size: 0.9rem;
  }

  .trip-status, .trip-card {
    padding: 10px;
    box-sizing: border-box;
  }
  
  .trip-status .directions-container,
  .trip-card .directions-container {
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 10px;
  }
  .directions-container {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
  
  .directions-container iframe {
    min-width: 350px;
  }
}
/* End of responsive styles */

header {
  text-align: center;
  margin: 20px;
}

.app-title {
  color: #3498db;
  font-size: 2.5rem;
  margin: 0;
}

.page-title {
  color: #3498db;
  margin: 20px 0;
  font-size:2rem;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  word-wrap: break-word;
}

.page-header {
  margin: 20px 0;
  word-wrap: break-word;
}

.app-description {
  color: #7f8c8d;
  font-size: 1rem;
}

.connect-wallet {
  background-color: #1abc9c;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  margin: 0 0 10px;
}

.connect-wallet:hover {
  background-color: #3498db;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #1abc9c;
  border-radius: 5px;
  padding: 10px;
}

.navbar button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}

.navbar button:hover {
  color: #1abc9c;
}

input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  transition: 0.3s;
}

input[type="text"]:focus {
  border-color: #3498db;
}

.submit-button {
  background-color: #1abc9c;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  margin: 10px 0;
}

.submit-button:hover {
  background-color: #3498db;
}

.trip-card {
  min-width: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.trip-info {
  font-size: 1.2rem;
  line-height: 1.4;
  word-wrap: break-word;
}

.trip-status {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.trip-info h3 {
  font-size: 1.2rem;
  margin: 0;
}

.trip-info p {
  font-size: 1rem;
  margin: 0;
}

.select-trip {
  background-color: #1abc9c;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}

.trips-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.select-trip:hover {
  background-color: #3498db;
}

#location span {
  display: inline-block;
  word-wrap: break-word;
}

.status-text {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  word-wrap: break-word;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.running-total {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  word-wrap: break-word;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location-text {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  word-wrap: break-word;
}
